/*
<main class = "container">
<div class = "row">
<div class = "col-1">
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    min-width: 1000px;
    width: 100%
}

.row:before, .row:after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    border: 3px solid white;
    float: left;
    /*min-height: 17px;*/
    height: 3.5em;
    /* glutters*/
    padding: 12px;
}

/* columnas */
.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.67%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.67%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.67%; }
.col-12 { width: 100%; }

/* colores */
.back-yellow { background-color: yellow; }
.back-green { background-color:green; }
.back-aqua { background-color: aqua; }
.back-blue { background-color: blue; }
.back-purple { background-color: purple; }
.back-pink { background-color:#f12ef1; }

/* Media Queries */
@media all and (max-width: 450px) {
    [class*="col-"] {
        width: 100%;
    }
}
